:root {
  --primary-color: #706559;
  --secondary-color: #ecebeb;
  --text-color: #85817e;
  --default-font: 'Delicious Handrawn';
}
body {
  margin: 0px;
  font-family: var(--default-font);
}
h1 {
  font-size: 70px;
  text-transform: uppercase;
  color: var(--primary-color);
  padding-left: 100px;
  padding-top: 35px;
}
h2 {
  font-size: 45px;
  color: var(--text-color);
  padding-left: 100px;
  padding-bottom: 50px;
}
h3 {
  font-size: 50px;
  text-align: center;
  color: var(--primary-color);
  margin: 0 0 0 0;
  padding-bottom: 70px;
}
footer {
  text-align: center;
  background-color: var(--secondary-color);
}
footer a {
  font-size: 24px;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  padding: 10px 30px 10px 30px;
  border-radius: 20px;
  text-decoration: none;
}
footer p {
  color: var(--text-color);
  font-size: 18px;
  margin-top: 50px;
  padding-bottom: 30px;
  margin-bottom: 0px;
}
.main-grid-text-right {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 150px;
  margin-right: 350px;
  margin-left: 250px;
}
.main-grid-text-right h4 {
  font-size: 45px;
  color: var(--primary-color);
  text-align: right;
  margin-top: 25px;
}
.main-grid-text-right p {
  font-size: 28px;
  line-height: 1.5;
  color: var(--text-color);
  text-align: right;
}
.main-grid-text-left {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 150px;
  margin-left: 310px;
  margin-right: 190px;
}
.main-grid-text-left h4 {
  font-size: 45px;
  color: var(--primary-color);
  text-align: left;
  margin-top: 25px;
}
.main-grid-text-left p {
  font-size: 28px;
  line-height: 1.5;
  color: var(--text-color);
  text-align: left;
}
.instagram-section {
  margin-top: 150px;
}
.hero-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--secondary-color);
  margin-bottom: 50px;
}
.text-icon {
  width: 80px;
  height: auto;
  display: flex;
  margin-left: 500px;
}
.main-grid-image {
  width: 350px;
  height: auto;
  border: 8px solid var(--secondary-color);
  border-radius: 30px;
  margin-left: 50px;
}
.featured-grid {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px;
  grid-gap: 150px;
  padding-bottom: 50px;
  margin-left: 350px;
  align-items: center;
}
.featured-grid img {
  width: 150px;
  height: auto;
  display: block;
  margin: 0 auto;
  padding: 10px 10px 10px 10px;
}
.moustache-icon {
  width: 125.4px;
  height: 33.8px;
  padding-top: 150px;
  padding-left: 100px;
}
.button-instagram {
  text-decoration: none;
  color: var(--secondary-color);
  padding: 10px 30px 10px 30px;
  background-color: var(--primary-color);
  font-size: 25px;
  border-radius: 20px;
  margin-left: 100px;
}
.hero-img {
  max-width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
}
.instagram-section {
  background-color: var(--secondary-color);
  padding-bottom: 100px;
  padding-top: 100px;
}
.instagram-grid {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-gap: 250px;
  margin-left: 330px;
}
.featured-section {
  background-color: var(--secondary-color);
}
.contacts-grid {
  margin-bottom: 50px;
  grid-gap: 80px;
  padding-top: 35px;
}

.contacts-grid i {
  color: var(--secondary-color);
  background: var(--primary-color);
  padding: 5px 5px 5px 5px;
  border-radius: 40%;
}
.contacts-grid a {
  background: none;
  color: var(--primary-color);
  font-size: 25px;
}
@media (max-width: 800px) {
  body {
    text-align: center;
  }
  h1 {
    font-size: 70px;
    padding-top: 0px;
    padding-left: 0px;
    text-align: center;
  }
  h2 {
    font-size: 40px;
    padding-bottom: 30px;
    text-align: center;
    padding-left: 0px;
  }
  h3 {
    font-size: 40px;
  }
  .main-grid-text-left h4 {
    text-align: center;
  }
  .main-grid-text-right h4 {
    text-align: center;
  }
  .main-grid-text-left p {
    text-align: center;
    padding-right: 20px;
    padding-left: 20px;
  }
  .main-grid-text-right p {
    text-align: center;
    padding-right: 20px;
    padding-left: 20px;
  }
  .main-grid-text-right {
    grid-template-columns: 1fr;
    padding: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;
  }
  .main-grid-text-left {
    grid-template-columns: 1fr;
    padding: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;
  }
  .main-grid-image {
    width: 500px;
    height: auto;
  }
  .hero-grid {
    grid-template-columns: 1fr;
  }
  .moustache-icon {
    width: 100px;
    height: auto;
    padding-top: 50px;
    padding-left: 0px;
    display: block;
    margin: auto;
  }
  .button-instagram {
    font-size: 25px;
    margin: 0;
  }
  .hero-img {
    margin-top: 40px;
    width: auto;
    height: auto;
  }
  .instagram-grid {
    grid-template-columns: 20px 20px;
    grid-gap: 200px;
    margin-left: 60px;
  }
  .featured-grid {
    grid-template-columns: 1fr 1fr;
    margin-left: 0px;
    grid-gap: 30px;
  }
  .text-icon {
    display: block;
    margin: 0 auto;
    padding-top: 20px;
  }
  .contacts-grid {
    padding-left: 50px;
    padding-right: 50px;
  }
  footer p {
    font-size: 15px;
  }
}
