:root {
  --primary-color: #706559;
  --secondary-color: #dedede;
  --text-color: #85817e;
  --default-font: 'Delicious Handrawn';
}
body {
  margin: 0px;
  font-family: var(--default-font);
}
h1 {
  font-size: 70px;
  text-transform: uppercase;
  color: var(--primary-color);
  padding-left: 100px;
  padding-top: 35px;
}
h2 {
  font-size: 45px;
  color: var(--text-color);
  padding-left: 100px;
  padding-bottom: 50px;
}

.hero-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--secondary-color);
  margin-bottom: 50px;
}
.moustache-icon {
  width: 125.4px;
  height: 33.8px;
  padding-top: 150px;
  padding-left: 100px;
}
.button-instagram {
  text-decoration: none;
  color: var(--secondary-color);
  padding: 10px 30px 10px 30px;
  background-color: var(--primary-color);
  font-size: 25px;
  border-radius: 20px;
  margin-left: 100px;
}
.hero-img {
  max-width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
}
footer {
  text-align: center;
}
footer a {
  font-size: 24px;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  padding: 10px 30px 10px 30px;
  border-radius: 20px;
  text-decoration: none;
}
footer p {
  color: var(--text-color);
  font-size: 20px;
  margin-top: 50px;
}
@media (max-width: 800px) {
  h1 {
    font-size: 40px;
    padding-top: 0px;
    padding-left: 0px;
    text-align: center;
  }
  h2 {
    font-size: 25px;
    padding-bottom: 15px;
    text-align: center;
    padding-left: 0px;
  }
  .hero-grid {
    grid-template-columns: 1fr;
  }
  .moustache-icon {
    width: 100px;
    height: auto;
    padding-top: 50px;
    padding-left: 0px;
    display: block;
    margin: auto;
  }
  .button-instagram {
    font-size: 18px;
  }
  .hero-img {
    margin-top: 20px;
    width: auto;
    height: auto;
  }
  footer p {
    font-size: 15px;
  }
}
